* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
html{
  height: 100%;
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
}


#jumbotron {
  width: 100%;
  height: 100vh;
  background-color: #708090;/*incase the image does not load */
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./assets/img/St.Louis1.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}


#logo {
  color: #ffffff;
  font-size: 100px;
  padding-top: 25%;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
ul > li > a:hover {
  transform: translate(10px);
}
.logo {
  width: 50px;
  cursor: pointer;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
}
nav{
  background: #708090;
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 60px;
  padding: 12px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 6vh;
  cursor: pointer;
  transition: .5s;
}
#about {
text-align: center;
width: 100%;
height: 100vh;
background-color: #708090;/*incase the image does not load */
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./assets/img/Commercial.jpg);
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
p {
  color: #ffff;
  font-size: 1em;
}


/* Styling for Homepage Button */


button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  border: none;
  background-color: white;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  color: white;
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
}

button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
button > a {
  text-decoration: none;
  color: black;
}
@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none;
  }
}


/* Styling for footer */


footer{
  background-color: #708090;
  padding: 70px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footerContainer{
  align-items: top;
  max-width: 1170px;
  background-color: #708090;
  margin: auto;
}

ul{
  list-style: none;
}

.row{
display: flex;
flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #fffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width:  40px;
  background-color: rgba(255, 255, 255, .2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col {
    width: 100%;
  }
}
#copywrite{
  display: flex;
  align-items: center;
  margin-top: 30px;

}


/* ABOUT US PAGE */

#about {
  color: #ffffff;
}
